# API Quest
## Oslo

# HYPOTHESIS
- Rich countries have more Nobel Prizes
    - Nobel prize winners immigrate towards rich countries
    - Nobel prize winners immigrate towards stable countries
- Countries of birth / early education have more impact than countries of higher education
- Nobel Prizes Laureates are getting younger
- Nobel Prizes are awarded more to international teams than before

- Gender Differences: Is there a significant difference in the gender ratio among Nobel Prize winners? Has this changed over time?
- Geographic Distribution: In which countries or regions are Nobel Prize winners predominantly located? Has this distribution changed over time?
- Age of Winners: What is the age distribution of Nobel Prize winners? Are there any noticeable trends in age?
- Publications: Are there specific journals where Nobel Prize winners’ research is commonly published? How influential are these journals?

## HYPOTHESIS 1
- Men are over represented in Nobel Prizes

# DATA SOURCES

1. **Nobel Laureates Data**
	- **Nobel Prize Official Data**
	  - Description: Comprehensive information on all Nobel laureates, including their age, nationality, affiliation, prize category, and motivation.
	  - Link: [Nobel Prize Official Website](https://www.nobelprize.org/organization/developer-zone-2/)
	  - API: [Nobel Prize API](https://www.nobelprize.org/organization/developer-zone-2/)
	- **Kaggle Nobel Laureates Dataset**
	  - Description: A dataset compiled from the Nobel Prize official data, available in CSV format for easy analysis.
	  - Link: [Kaggle Nobel Prize Dataset](https://www.kaggle.com/datasets/imdevskp/nobel-prize/data)

3. **Economic Indicators**
	- **World Bank GDP Data**
	  - Description: GDP per capita and other economic indicators for countries worldwide.
	  - Link: [World Bank GDP per Capita](https://data.worldbank.org/indicator/NY.GDP.PCAP.CD)
	- **Heritage Foundation Index of Economic Freedom**
	  - Description: Measures economic freedom in countries across 12 quantitative and qualitative factors.
	  - Link: [Index of Economic Freedom](https://www.heritage.org/index/)

4. **Education Expenditure and Statistics**
	- **UNESCO Education Data**
	  - Description: Data on government expenditure on education as a percentage of GDP and total government expenditure.
	  - Link: [UNESCO Education Expenditure](http://data.uis.unesco.org/)
	- **OECD Education Statistics**
	  - Description: Detailed statistics on education spending, enrollment rates, and educational attainment among OECD countries.
	  - Link: [OECD Education at a Glance](https://www.oecd.org/education/education-at-a-glance/)

5. **Gender Statistics**
	- **UNESCO Gender Parity Index**
	  - Description: Data on gender parity in education and literacy rates.
	  - Link: [UNESCO Gender Equality Data](http://data.uis.unesco.org/)
	- **World Bank Gender Data Portal**
	  - Description: Comprehensive data on gender equality indicators globally.
	  - Link: [World Bank Gender Data](https://datatopics.worldbank.org/gender/)

18. **Demographic and Socioeconomic Data**
	 - **United Nations Educational, Scientific and Cultural Organization (UNESCO) Institute for Statistics**
		- Description: Data on education, literacy rates, and demographic factors.
		- Link: [UNESCO UIS Data](http://data.uis.unesco.org/)
	 - **OECD Social and Welfare Statistics**
		- Description: Indicators on social protection, income inequality, and more.
		- Link: [OECD Social Data](https://www.oecd.org/social/soc/)

## Selected data sources

1. Nobel API
2. https://uis.unesco.org/
3. https://databank.worldbank.org/source/world-development-indicators

In [14]:
import os
import json
import requests
import pandas as pd
from dotenv import load_dotenv
import seaborn as sb

In [15]:
load_dotenv()
token = os.getenv('TOKEN')
print(token)

test

In [16]:
#TODO: Get the data from the API
enrollment_df = pd.read_csv('sources/school_enrolment_gender.csv')
enrollment_df

,Country Name,Country Code,Series Name,Series Code,1974 [YR1974],1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,United States,USA,"School enrollment, tertiary, male (% gross)",SE.TER.ENRR.MA,54.3086318969727,57.4090118408203,60.9704818725586,56.530689239502,55.6341514587402,53.5002593994141,...,75.3973617553711,75.7590179443359,76.0622711181641,74.9971923828125,74.8950500488281,73.9934616088867,72.8402481079102,68.7112731933594,64.5381774902344,..
1,United States,USA,"School enrollment, tertiary, female (% gross)",SE.TER.ENRR.FE,43.1207695007324,47.2997817993164,50.4750900268555,51.2817993164062,53.4821510314941,53.9854583740234,...,102.599388122559,102.747329711914,102.293800354004,102.011329650879,102.354042053223,102.425331115723,102.956741333008,101.710220336914,94.8502197265625,..
2,United States,USA,"School enrollment, secondary, male (% gross)",SE.SEC.ENRR.MA,..,..,..,..,87.7746810913086,..,...,96.3625335693359,97.1537170410156,99.0528335571289,99.1985168457031,99.7356567382812,100.902122497559,101.560943603516,101.046821594238,96.351806640625,..
3,United States,USA,"School enrollment, secondary, female (% gross)",SE.SEC.ENRR.FE,..,..,..,..,88.334831237793,..,...,97.5130462646484,98.1735763549805,98.4747085571289,98.695556640625,98.7960586547852,99.189453125,99.4142990112305,101.344367980957,98.6511611938477,..
4,United States,USA,"School enrollment, primary, male (% gross)",SE.PRM.ENRR.MA,..,..,..,..,..,..,...,99.8374404907227,100.312042236328,101.445777893066,102.204460144043,101.314239501953,100.634078979492,100.546607971191,98.5913619995117,96.9589233398438,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Last Updated: 09/19/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
url= "https://api.nobelprize.org/2.1/laureates"
response = requests.get(url)
data = response.json()
laureate_infos = {}
for laureate in data['laureates']:
    laureate_infos[laureate['id']]= {
        'Name': laureate['knownName']['en'],
        'Gender': laureate.get('gender',None),
        'Country': laureate['birth']['place']['country']['en'] if 'birth' in laureate and 'place' in laureate['birth'] and 'country' in
        laureate['birth']['place']['country'] else 'None',
        'Prize_year': laureate['nobelPrizes'][0]['awardYear'],
        'Prize_category': laureate['nobelPrizes'][0]['category']['en'],}
        #'Prize_affiliations': ['nobelPrizes'][0]['affiliations'][0]['name']['en']}
print(laureate_infos)
df = pd.DataFrame.from_dict(laureate_infos,orient ='index')
print(df)

{'745': {'Name': 'A. Michael Spence', 'Gender': 'male', 'Country': 'None', 'Prize_year': '2001', 'Prize_category': 'Economic Sciences'}, '102': {'Name': 'Aage N. Bohr', 'Gender': 'male', 'Country': 'None', 'Prize_year': '1975', 'Prize_category': 'Physics'}, '779': {'Name': 'Aaron Ciechanover', 'Gender': 'male', 'Country': 'None', 'Prize_year': '2004', 'Prize_category': 'Chemistry'}, '259': {'Name': 'Aaron Klug', 'Gender': 'male', 'Country': 'None', 'Prize_year': '1982', 'Prize_category': 'Chemistry'}, '1004': {'Name': 'Abdulrazak Gurnah', 'Gender': 'male', 'Country': 'None', 'Prize_year': '2021', 'Prize_category': 'Literature'}, '114': {'Name': 'Abdus Salam', 'Gender': 'male', 'Country': 'None', 'Prize_year': '1979', 'Prize_category': 'Physics'}, '982': {'Name': 'Abhijit Banerjee', 'Gender': 'male', 'Country': 'None', 'Prize_year': '2019', 'Prize_category': 'Economic Sciences'}, '981': {'Name': 'Abiy Ahmed Ali', 'Gender': 'male', 'Country': 'None', 'Prize_year': '2019', 'Prize_category': 'Peace'}, '843': {'Name': 'Ada E. Yonath', 'Gender': 'female', 'Country': 'None', 'Prize_year': '2009', 'Prize_category': 'Chemistry'}, '866': {'Name': 'Adam G. Riess', 'Gender': 'male', 'Country': 'None', 'Prize_year': '2011', 'Prize_category': 'Physics'}, '199': {'Name': 'Adolf Butenandt', 'Gender': 'male', 'Country': 'None', 'Prize_year': '1939', 'Prize_category': 'Chemistry'}, '164': {'Name': 'Adolf von Baeyer', 'Gender': 'male', 'Country': 'None', 'Prize_year': '1905', 'Prize_category': 'Chemistry'}, '185': {'Name': 'Adolf Windaus', 'Gender': 'male', 'Country': 'None', 'Prize_year': '1928', 'Prize_category': 'Chemistry'}, '541': {'Name': 'Adolfo Pérez Esquivel', 'Gender': 'male', 'Country': 'None', 'Prize_year': '1980', 'Prize_category': 'Peace'}, '292': {'Name': 'Ahmed Zewail', 'Gender': 'male', 'Country': 'None', 'Prize_year': '1999', 'Prize_category': 'Chemistry'}, '853': {'Name': 'Akira Suzuki', 'Gender': 'male', 'Country': 'None', 'Prize_year': '2010', 'Prize_category': 'Chemistry'}, '978': {'Name': 'Akira Yoshino', 'Gender': 'male', 'Country': 'None', 'Prize_year': '2019', 'Prize_category': 'Chemistry'}, '819': {'Name': 'Al Gore', 'Gender': 'male', 'Country': 'None', 'Prize_year': '2007', 'Prize_category': 'Peace'}, '1012': {'Name': 'Alain Aspect', 'Gender': 'male', 'Country': 'None', 'Prize_year': '2022', 'Prize_category': 'Physics'}, '729': {'Name': 'Alan Heeger', 'Gender': 'male', 'Country': 'None', 'Prize_year': '2000', 'Prize_category': 'Chemistry'}, '376': {'Name': 'Alan Hodgkin', 'Gender': 'male', 'Country': 'None', 'Prize_year': '1963', 'Prize_category': 'Physiology or Medicine'}, '730': {'Name': 'Alan MacDiarmid', 'Gender': 'male', 'Country': 'None', 'Prize_year': '2000', 'Prize_category': 'Chemistry'}, '11': {'Name': 'Albert A. Michelson', 'Gender': 'male', 'Country': 'None', 'Prize_year': '1907', 'Prize_category': 'Physics'}, '628': {'Name': 'Albert Camus', 'Gender': 'male', 'Country': 'None', 'Prize_year': '1957', 'Prize_category': 'Literature'}, '403': {'Name': 'Albert Claude', 'Gender': 'male', 'Country': 'None', 'Prize_year': '1974', 'Prize_category': 'Physiology or Medicine'}}
                       Name  Gender Country Prize_year          Prize_category
745       A. Michael Spence    male    None       2001       Economic Sciences
102            Aage N. Bohr    male    None       1975                 Physics
779       Aaron Ciechanover    male    None       2004               Chemistry
259              Aaron Klug    male    None       1982               Chemistry
1004      Abdulrazak Gurnah    male    None       2021              Literature
114             Abdus Salam    male    None       1979                 Physics
982        Abhijit Banerjee    male    None       2019       Economic Sciences
981          Abiy Ahmed Ali    male    None       2019                   Peace
843           Ada E. Yonath  female    None       2009               Chemistry
866           Adam G. Riess    male    None       2011                 Physics
199         Adolf Butenandt    male    None       1939               Chemistry
164        Adolf von Baeyer    male    None       1905               Chemistry
185           Adolf Windaus    male    None       1928               Chemistry
541   Adolfo Pérez Esquivel    male    None       1980                   Peace
292            Ahmed Zewail    male    None       1999               Chemistry
853            Akira Suzuki    male    None       2010               Chemistry
978           Akira Yoshino    male    None       2019               Chemistry
819                 Al Gore    male    None       2007                   Peace
1012           Alain Aspect    male    None       2022                 Physics
729             Alan Heeger    male    None       2000               Chemistry
376            Alan Hodgkin    male    None       1963  Physiology or Medicine
730         Alan MacDiarmid    male    None       2000               Chemistry
11      Albert A. Michelson    male    None       1907                 Physics
628            Albert Camus    male    None       1957              Literature
403           Albert Claude    male    None       1974  Physiology or Medicine

In [18]:
display(pd.DataFrame(laureate_infos))

,745,102,779,259,1004,114,982,981,843,866,...,853,978,819,1012,729,376,730,11,628,403
Name,A. Michael Spence,Aage N. Bohr,Aaron Ciechanover,Aaron Klug,Abdulrazak Gurnah,Abdus Salam,Abhijit Banerjee,Abiy Ahmed Ali,Ada E. Yonath,Adam G. Riess,...,Akira Suzuki,Akira Yoshino,Al Gore,Alain Aspect,Alan Heeger,Alan Hodgkin,Alan MacDiarmid,Albert A. Michelson,Albert Camus,Albert Claude
Gender,male,male,male,male,male,male,male,male,female,male,...,male,male,male,male,male,male,male,male,male,male
Country,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Prize_year,2001,1975,2004,1982,2021,1979,2019,2019,2009,2011,...,2010,2019,2007,2022,2000,1963,2000,1907,1957,1974
Prize_category,Economic Sciences,Physics,Chemistry,Chemistry,Literature,Physics,Economic Sciences,Peace,Chemistry,Physics,...,Chemistry,Chemistry,Peace,Physics,Chemistry,Physiology or Medicine,Chemistry,Physics,Literature,Physiology or Medicine